.to-do {
    display: flex;
    align-items: center;
    padding: 15px;
}

.to-do-name {
    font-size: 25px;
    color:royalblue;
    width: calc(100% - 125px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.space {
    flex: 1 1 auto;
}

.to-do-delete {
    border: none;
    height: 40px;
    width: 80px!important;
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}